body{
    background-color: rgb(9, 94, 94);
    font-size: 15pt arial,helvetica;
}
header{
    color: aliceblue;
    text-align: center;
}
section{
background-color: rgb(237, 240, 240);
border-radius: 10px;
padding:15px;
width:500px;
margin:auto;



}
footer{
color: aliceblue;
text-align: center;
}